/*header*/
.bg-1 {
  margin: 0 0 30px;
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

/*main heading*/
.bg-2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  text-align: center;
  color:#fff;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  background: #4aaaa5;
}



nav a {
  margin-left: 15px;
  padding-left: 15px;
  color: #999;
  text-decoration: none;
  line-height: 18px;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

/*second heading*/
h1{
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-weight: 700;
}

/*main_section*/
.bg-5{
  padding: 30px;
  margin: 0 0 40px 0;
  float: left;
  background: #fff;
  border: 1px solid #ddd;
}

/*sidebar*/
.bg-6 {
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}
 
body {
  line-height: 32px;
  font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif !important;
}

a{
text-decoration: none;
}

h3,
.bg-6 h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-weight: 700;
}

/*connect me images*/
.social {
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}


/*main*/
.main-section {
  padding: 30px;
  margin: 0px;
  background: #fff;
  border: 1px solid #ddd;
  background: url("../images/backgrd.png");

}

/*footer*/
.bg-4 { 
  background: #666666;
  padding: 24px 15px;
  color:#efeee7;
  font size: 28px;
  text-align: center;
  border:solid #4aaaa5;
  border-width:5px 0px 0px 0px;
}

/*profile image*/
.thumbnail{
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
  float: left;
}

/*portfolio page*/
.work {
  position: relative;
  width: 274px;
  overflow: auto;
  float: left;
  margin: 20px 0 25px;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: .8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  margin-bottom: 0;
  padding: 15px;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-weight: 300;
  background: #4aaaa5;
  border-bottom: 0;
}

/*contact page*/
.line2{
border:2px solid #dddddd;
}

.button {
  background:#4aaaa5;
  color:#ffffff;
  border:1px solid #cccccc;
  font-size:20px;
  padding:1px;
  width:22%;
  text-align: center;
}

.box{
 border:2px solid #dddddd; 
 padding: 80px;
 margin-bottom: 10px;
}
